@model GenreViewModel
@{ 
    ViewBag.Title = "Genre";
    Layout = "_Layout";
}
<h1>Genre</h1>
<form method="post" asp-controller="Genres" asp-action="Save">
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label><br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParentGenreId" class="col-form-label"></label>
        <select asp-for="ParentGenreId" asp-items="@Model.GenreSelectListItems"></select>
        <span asp-validation-for="ParentGenreId" class="text-danger"></span>
    </div>
    <input asp-for="Id" type="hidden" />
    <input type="submit" value="Save" />
</form>